---
import "~/styles/global.css";
import { ClientRouter } from "astro:transitions";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
const { pageTitle, title, description } = Astro.props;
const baseUrl = `${Astro.url.protocol}//${Astro.url.host}`;
import { googleAnalyticsMeasurementId, siteLang, themeColor, siteName } from "~/data/config";
---

<!doctype html>
<html lang={siteLang}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet" />
		<meta name="theme-color" content={themeColor} />
		<meta name="description" content={description} />
		<meta name="robots" content="index,follow" />
		<meta name="googlebot" content="index,follow" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content={siteName} />
		<meta property="og:locale" content={siteLang} />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:url" content={Astro.url} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<title>{pageTitle}</title>
		<script async src={`https://www.googletagmanager.com/gtag/js?id=${googleAnalyticsMeasurementId}`}></script>
		<script is:inline define:vars={{ googleAnalyticsMeasurementId }}>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", googleAnalyticsMeasurementId);

			let gaSkipFirstPageLoad = true;
			document.addEventListener("astro:page-load", () => {
				if (gaSkipFirstPageLoad) {
					gaSkipFirstPageLoad = false;
					return;
				}
				if (typeof gtag === "function") {
					gtag("config", googleAnalyticsMeasurementId, {
						page_path: window.location.pathname + window.location.search,
					});
				}
			});
		</script>
		<ClientRouter />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
