---
interface Props {
	id?: string;
	class?: string | string[];
	contain?: boolean;
	style?: string;
	showTopBorder?: boolean;
	showBottomBorder?: boolean;
	topBorderColor?: string;
	bottomBorderColor?: string;
}

const { 
	id, 
	class: className, 
	contain = true, 
	style,
	showTopBorder = false,
	showBottomBorder = false,
	topBorderColor = "#ffffff",
	bottomBorderColor = "#ffffff"
} = Astro.props as Props;

const sectionClass = Array.isArray(className) ? className.join(' ') : (className || '');
const needsRelative = showTopBorder || showBottomBorder;
const finalClass = needsRelative && !sectionClass.includes('relative') 
	? `${sectionClass} relative` 
	: sectionClass;
---

<section id={id} class={finalClass} style={style}>
	{showTopBorder && (
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full top-0 inset-x-0 rotate-180"
			preserveAspectRatio="none"
		>
			<path
				fill={topBorderColor}
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			/>
		</svg>
	)}
	<div class={`${contain ? "container py-16 lg:py-32" : ""}`}>
		<slot />
	</div>
	{showBottomBorder && (
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full bottom-0 inset-x-0"
			preserveAspectRatio="none"
		>
			<path
				fill={bottomBorderColor}
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			/>
		</svg>
	)}
</section>
